<div x-data="{ profileDropdownOpen: false }" class="flex-shrink-0 relative ml-5">
                    <div>
                        <button type="button"
                                class="bg-white rounded-full flex focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                id="user-menu-button" aria-expanded="false" aria-haspopup="true" x-on:click="profileDropdownOpen = ! profileDropdownOpen">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full"
                                 src="{{ url_for('profile.getThumbnail',id=current_user.id) }}"
                                 alt="">
                        </button>
                    </div>


                    <div :class="profileDropdownOpen ? '' : 'hidden'" class="origin-top-right absolute z-10 right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 focus:outline-none"
                         role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <!-- Active: "bg-gray-100", Not Active: "" -->
                        <a href="{{ url_for('profile.settings') }}" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1"
                           id="user-menu-item-0">Your Profile</a>

                        <a href="{{ url_for('profile.settings') }}" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1"
                           id="user-menu-item-1">Settings</a>

                        <a href="{{ url_for('auth.logout') }}" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1"
                           id="user-menu-item-2">Sign out</a>
                    </div>
                </div>
