{% extends "base/full-width.html" %}
{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% include 'components/sidebar/main-choices-section.html' %}
    {% include 'admin/components/admin-choices-section.html' %}
{% endblock %}

{% block content %}


    <main class=" flex-1 relative z-0 overflow-hidden border-r border-gray-200">
        <!-- Start main area-->
        <div class="absolute inset-0 ">

            <div class="flex flex-col h-full space-y-8">
                {% include 'components/navigation/clean-navbar.html' %}
                <!-- This example requires Tailwind CSS v2.0+ -->
               <!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">All comments</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the comments made.</p>
    </div>

  </div>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Comment</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">By user</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Date</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Document</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Delete</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">

      {% for data in metadata %}
        <tr>
          <td class="whitespace-normal py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ data.comment }}</td>
          <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell">{{ data.username }}</td>
          <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">{{ moment(data.date).format('ll') }}</td>

          <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
            <a href="{{ url_for('library.document',doc_id=data.fk_idDokument) }}" class="text-indigo-600 hover:text-indigo-900">Show</a>
          </td>
            <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
            <a href="{{ url_for('admin.deleteComment',comment_id=data.idComment) }}" class="text-indigo-600 hover:text-indigo-900">Delete</a>
          </td>
        </tr>
     {% endfor %}
        <!-- More people... -->
      </tbody>
    </table>
  </div>
</div>


        </div>
        <!-- End main area -->
    </main>

{% endblock %}
<!-- This example requires Tailwind CSS v2.0+ -->
