<div class="flex-shrink-0 flex border-t border-gray-200 p-4">
    <a href="#" class="flex-shrink-0 group block">
        <div class="flex items-center">
            <div>
                <img class="inline-block h-10 w-10 rounded-full"
                     src="{{ url_for('profile.getThumbnail',id=current_user.id) }}"
                     alt="">
            </div>
            <div class="ml-3">
                <p class="text-base font-medium text-gray-700 group-hover:text-gray-900">
                    {{ current_user.first_name }} {{ current_user.last_name }}
                </p>
                <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700"><a href="{{ url_for('profile.settings') }}">View profile</p>
            </div>
        </div>
    </a>
</div>